<ion-view title="Emergency Rescue" id="page2">
  <ion-content padding="false" class="has-header">
    <form id="emergencyRescue-form1" class="list">
      <label class="item item-select" id="emergencyRescue-select1" name="anim_type">
        <span class="input-label">Type</span>
        <select>
          <option>Cat</option>
          <option>Dog</option>
          <option>Bird</option>
        </select>
      </label>
      <label class="item item-input" id="emergencyRescue-textarea1" name="anim_desc">
        <span class="input-label">Description</span><textarea placeholder="">Cat stuck in fence</textarea></label>
      <label class="item item-select" id="emergencyRescue-select2" name="anim_state">
        <span class="input-label">Condition</span>
        <select>
          <option>Critical</option>
          <option>Normal</option>
        </select>
      </label>
      <label class="item item-input" id="emergencyRescue-textarea2" name="anim_address">
        <span class="input-label">Address</span><textarea placeholder="">3 B5113, Colwyn Bay LL29 8DU, London, UK</textarea></label>
      <button id="emergencyRescue-button2" class="button button-positive button-small button-block button-outline">Add Picture / Video</button>
      <div>
        <img src="img/WuNj36m9S4ygTQ676Ycx_cat.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="emergencyRescue-button1" class="button button-positive  button-block">Submit Request</button>
    </form>
  </ion-content>
</ion-view>