<ion-view title="Global Animal Rescue System" hide-back-button="true" id="page1">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <ion-list id="globalAnimalRescueSystem-list1">
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item4" ui-sref="emergencyRescue">
        <img src="img/IGBUK5vXTjC1tVqkD5b9_emergency.png">
        <h2positive>Emergency
          <p>Animal needs immediate Rescue</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item2">
        <img src="img/31vaz9YBTGCCDjlC0AGQ_cage.png">
        <h2positive>Shelters
          <p>Search for temporary Home</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item3">
        <img src="img/cOWZFqW9Rlaqt5Y6FRSa_cat2.png">
        <h2positive>Adoption
          <p>Search for permanent Home</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item5" ui-sref="searchForClinic">
        <img src="img/G3kFezeLTOeogm5Dzv6M_clinic.png">
        <h2positive>Vet Clinics
          <p>Search for Clinic nearby</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item6">
        <img src="img/VNZDe137SRynCPH5KRao_heart.png">
        <h2positive>Volunteers
          <p>Find a Volunteer or Animal Protection</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item7">
        <img src="img/OxHtzHGQIanGS59hSubv_paw.jpg">
        <h2positive>Donate
          <p>Donate money, food, equipment, etc</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item14">
        <img src="img/X7wi0r0VS5aVNsZ8yBM4_user.png">
        <h2positive>My Account
          <p>Personal and Contact Information</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="globalAnimalRescueSystem-list-item8">
        <img src="img/X7wi0r0VS5aVNsZ8yBM4_user.png">
        <h2positive>About GARS
          <p>Information, people, contact info</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>