<ion-view title="Выбор адреса" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form4" class="list">
      <label class="item item-input" id="page5-input8" name="addr_country">
        <span class="input-label">Страна</span>
        <input type="text" placeholder="Украина">
      </label>
      <label class="item item-input" id="page5-input9" name="addr_city">
        <span class="input-label">Город</span>
        <input type="text" placeholder="Запорожье">
      </label>
      <label class="item item-input" id="page5-input10" name="addr_addr">
        <span class="input-label">Адрес</span>
        <input type="text" placeholder="Дегтярева, 5А">
      </label>
    </form>
    <div id="page5-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">Адрес определен автоматически по координатам GPS. Если он неправильный, то откорректируйте его, или перетащите метку на карте.</p>
    </div>
    <div>
      <img src="img/Z2dxvcsITeq0B4DeSNtS_Screenshot_4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page5-button6" class="button button-positive  button-block">Сохранить адрес</button>
  </ion-content>
</ion-view>