<ion-view title="Реристрация участника" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="page4-form3" class="list">
      <ion-list id="page4-list3">
        <label class="item item-input" id="page4-input3" name="user_name">
          <span class="input-label">Имя</span>
          <input type="text" placeholder="Марина Шевченко">
        </label>
        <label class="item item-select" id="page4-select3">
          <span class="input-label">Кто вы</span>
          <select>
            <option>Волонтер</option>
          </select>
        </label>
        <label class="item item-input" id="page4-input4" name="user_email">
          <span class="input-label">Email</span>
          <input type="text" placeholder="marinashev81@gmail.com">
        </label>
        <label class="item item-input" id="page4-input6" name="user_phone">
          <span class="input-label">Телефон</span>
          <input type="text" placeholder="+38098112233">
        </label>
        <label class="item item-input" id="page4-input7" name="user_address">
          <span class="input-label">Адрес</span>
          <input type="text" placeholder="Запорожье, Дегтярева 5А">
        </label>
        <label class="item item-input" id="page4-input5" name="user_pass">
          <span class="input-label">Пароль</span>
          <input type="password" placeholder="* * * * * *">
        </label>
      </ion-list>
      <div id="page4-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Поскольку вы указали, что вы - волонтер, ваш номер телефона будет виден другим участникам. Email и ваши координаты не публикуются.</p>
      </div>
      <button id="page4-button5" class="button button-positive button-small button-block button-outline">Выбрать изображение</button>
      <div>
        <img src="img/spdnOJqTMetZmdA4DCTQ_ashvolunteer.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="page4-button4" class="button button-positive  button-block">Сохранить</button>
    </form>
  </ion-content>
</ion-view>