<ion-view title="Search for Clinic" hide-back-button="true" id="page3">
  <ion-content padding="false" class="has-header">
    <form id="searchForClinic-form2" class="list">
      <label class="item item-input" id="searchForClinic-textarea3" name="vet_address">
        <span class="input-label">Near</span><textarea placeholder="">3 B5113, Colwyn Bay LL29 8DU, London, UK</textarea></label>
      <ion-toggle toggle-class="toggle-positive" id="searchForClinic-toggle3" name="vet_247">24 / 7</ion-toggle>
      <button id="searchForClinic-button3" class="button button-positive button-small button-block button-outline icon ion-search">Search</button>
      <div>
        <img src="img/ttizpr3GRkyVFObX6X39_Screenshot_11.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <ion-list id="searchForClinic-list2">
      <ion-item class="item-avatar positive" id="searchForClinic-list-item10">
        <img src="img/PVaq1sRtTirmN8wemFDu_clinic.png">
        <h2positive>Best Clinic
          <p style="white-space:normal;">3 B5113, Colwyn Bay LL29 8DU, London, UK</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>